.library-container {
  display: flex;
  flex-direction: column; /* Stack elements vertically */
  align-items: center; /* Center horizontally */
  justify-content: center; /* Center vertically */
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  text-align: center; /* Center text */
}

.theme-blocks {
  display: flex;
  flex-direction: column; /* Stack blocks vertically */
  align-items: center; /* Center horizontally */
  margin-top: 20px; /* Add space below header */
  border: 2px;
  border-color: black;
  height: 50px;
  width: 200px;
}

.theme-block {
  background-color: rgba(255, 255, 255, 0.1); /* Example background for theme blocks */
  padding: 10px 20px;
  margin: 10px 0; /* Space between blocks */
  border-radius: 8px;
  width: 80%; /* Adjust width as needed */
}

.no-themes {
  margin-top: 20px; /* Add space below header */
  font-size: 16px; /* Adjust as needed */
  color: aliceblue;
}
