button {
    background: rgb(108, 108, 255);
    color: white;
    padding: 5px 20px;
    border-radius: 4px;
    border: none;
  }
header{
    background-color: var(--background-color); /* Example background color */
    padding: 10px 0; /* Example padding */
    position: fixed; /* Fix the header at the top of the viewport */
    width: 100%; /* Full width */
    top: 0; /* Stick to the top */
    z-index: 1000; /* Ensure it's above other content */
    box-shadow: 0 2px 5px rgba(0,0,0,0.2); 
  }

@import url('https://fonts.cdnfonts.com/css/inknut-antiqua');
h1{
    margin-left: 10%;
    color: var(--foreground-color);
    font-size: 30px;
    font-weight: bold;
    font-family:'Inknut Antiqua', sans-serif;

}