
<mat-sidenav-container class="example-container">
    <mat-sidenav class="sidenav" opened mode="side">
        <h1>dahu</h1>
        <mat-nav-list>
            <ul>
                <li><a ngClick="activateComponent('create-theme')">Create Theme</a></li>
                <li><a ngClick="activateComponent('generate-theme')">Generate Theme</a></li>
                <li><a ngClick="activateComponent('generate-from-pic')">Generate from Pic</a></li>
                <li><a ngClick="activateComponent('library')">Library</a></li>
            </ul>
        </mat-nav-list>
    </mat-sidenav>
</mat-sidenav-container>

<app-create-theme *ngIf="activeComponent === 'create-theme'"></app-create-theme>
<app-generate-theme *ngIf="activeComponent === 'generate-theme'"></app-generate-theme>
<app-generate-from-pic *ngIf="activeComponent === 'generate-from-pic'"></app-generate-from-pic>
<app-library *ngIf="activeComponent === 'library'"></app-library>
