
<!-- <mat-sidenav-container class="example-container">
    <mat-sidenav class="sidenav" opened mode="side"> -->
        <h1>dahu</h1>
        <!-- <mat-nav-list> -->
            <nav>
                <ul>
                  <li>
                    <a href="#" (click)="navigate($event, '/')">Create Theme</a>
                  </li>
                  <li>
                    <a routerLink="/create-theme" routerLinkActive="active-link">Create Theme</a>
                  </li>
                  <li>
                    <a href="#" (click)="navigate($event, '/generate-theme')">Generate Theme</a>
                  </li>
                  <li>
                    <a href="#" (click)="navigate($event, '/generate-from-pic')">Generate from  picture</a>
                  </li>
                  <li>
                    <a href="#" (click)="navigate($event, '/library')">Library</a>
                  </li>
                </ul>
              </nav>
            <!-- <div>
                <a (click)="activateComponent('create-theme')">Create Theme</a>
            </div>
            <div>
                <a (click)="activateComponent('generate-theme')">Generate Theme</a>
            </div>
            <div>
                <a (click)="activateComponent('generate-from-pic')">Generate from Pic</a>
            </div>
            <div>
                <a (click)="activateComponent('library')">Library</a>
            </div> -->
            
        <!-- </mat-nav-list>
    </mat-sidenav>
</mat-sidenav-container> -->
<!-- 
<app-create-theme *ngIf="activeComponent === 'create-theme'"></app-create-theme>
<app-generate-theme *ngIf="activeComponent === 'generate-theme'"></app-generate-theme>
<app-generate-from-pic *ngIf="activeComponent === 'generate-from-pic'"></app-generate-from-pic>
<app-library *ngIf="activeComponent === 'library'"></app-library> -->
