.color-box {
    width: 80px;
    height: 80px;
    margin-bottom: 10px;
    border: 1px solid #000;
  }
  
  input[type="text"] {
    width: 80px;
    margin-bottom: 20px;
  }
  h2{
    align-items: center;
  }
  
  .general {
    display: flex;
    flex-direction: column;
    align-items: flex-start; /* Align items to the start of the container */
  }
  
  .color-boxes {
    display: flex;
    flex-wrap: wrap; /* Allows wrapping to a new line if space is limited */
    gap: 10px; /* Adds space between items */
  }
  
  .color-item {
    display: flex;
    flex-direction: column;
    align-items: center; /* Center items vertically within each color-item */
    text-align: center; /* Center text horizontally within each color-item */
  }
  