.example-container {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
  }
  .sidenav {
    background-color: gray;
    color: black;
    width: 30%;
    border: 10px;
    border-radius: 0px, 30px, 30px, 0px;

  }
  h1 {
    margin-left: 30%;
    color: black;
    size: 30px;
    font-weight: bold;
  }
  h2 {
    margin-left: 30px;
    color: white;
  }
  .sidebar-cont {
    width: 100%;
    margin-top: 10px;
    margin-bottom: 10px;
  }
  